* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-size: 1.1rem;
  line-height: 1.5;
  font-family: 'Nunito', sans-serif;
  -webkit-text-stroke: .025em rgba(51,51,51,0.50);
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
  &.modal-active {
   overflow: hidden;
 }
}

.content {
  -webkit-transition: opacity 0.7s ease;
  transition: opacity 0.7s ease;
}

a {
  color: #000;
  text-decoration: none;
}

.logo {
  display: block;
  z-index: 10;
  position: fixed;
  top: 17vw;
  height: 20%;
  width: 3rem;
  height: 10rem;
  left: 3vw;
}

.top-header {
  font-size: 70%;
  font-weight: bolder;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 8;
  letter-spacing: 0.15rem;
}

.header-top {
  background-color: #fbe9ed;
  color: #000;
  text-align: center;
  padding: 0.5rem 2rem;
  font-size: 90%;
}

.header-bottom {
  padding-right: 3rem;
}

.header-bottom {
  padding-left: 3rem;
  transition: background-color 0.25s ease;
}

.header-bottom:hover {
  background-color: #fff;
}

.desktop-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-left, .nav-right {
   display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-left {
  position: relative;
  left: 10%;
}

.nav-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.menu-item {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: block;
  padding: 1rem;
  position: relative;
  z-index: 20;
}

.menu-item a {
  text-decoration: none;
  display: block;
}

.menu-item a:hover {
  text-decoration: none;
}

.fa {
  opacity: 0.7;
}

.hidden {
  opacity: 0;
}

.inside-menu-items {
  padding: 1rem;
  position: absolute;
  left: 0;
  top: 2rem;
  bottom: 0;
  min-width: 8rem;
  display: none;
  -webkit-transition: opacity 0.7s ease;
  transition: opacity 0.7s ease;
}

.inside-menu-items:hover a:link {
  color: #000;
  opacity: 0.6;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.inside-menu-items:hover a:link:hover {
  color: #000;
  opacity: 1;
  font-weight: 900;
}

#sale {
  color: #880c18;
}

.dropdown-item {
  background-color: transparent;
  line-height: 2rem;
}


/* MENU END*/


/* CONTENT */

.main-pic-big {
  width: 100vw;
  height: 100vh;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

.main-pic-big:nth-of-type(1) {
  background-image: url('https://cdn.shopify.com/s/files/1/1689/2633/files/FANG_OLIVE_33b7c683-d87c-4886-a714-38f99d1b68c7_2560x1440_crop_bottom.progressive.jpg?v=1494622673');
}

.main-pic-big:nth-of-type(2) {
  background-image: url('https://cdn.shopify.com/s/files/1/1689/2633/files/starling_bf80c0fd-ba19-4d7d-93c0-21d6fa80edb9_2560x1440_crop_bottom.progressive.jpg?v=1494909687');
}

.main-pic-big:nth-of-type(3) {
  background-image: url('https://cdn.shopify.com/s/files/1/1689/2633/files/ZULU2_2560x1440_crop_bottom.progressive.jpg?v=1493954843');
}

.main-pic-big:nth-of-type(4) {
  background-image: url('https://cdn.shopify.com/s/files/1/1689/2633/files/MONGO2_1c38b100-4ed0-4bd2-af18-c06d0b13b219_2560x1440.progressive.jpg?v=1492881577');
}

.gallery {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.gallery-grid {
  padding: 0 1rem;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.grid-item {
  width: 33.3%;
  box-sizing: border-box;
  padding-left: .8rem;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  -o-transition: all ease 1s;
  -ms-transition: all ease 1s;
  transition: all ease 1s;
}

.grid-item img {
  width: 100%;
  height: auto;
}


.item-description {
  text-align: center;
  font-size: 65%;
  margin-bottom: 1.5rem;
}

.item-title {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.unavailable {
  margin-left: 0.4rem;
}

/* END OF GRID  */

.main-footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.footer-menu {
  display: inline-block;
}

.footer-link {
  display: block;
  padding: 0.5rem 0;
  line-height: 1.5;
  font-size: 65%;
  color: #880c18;
}

.footer-menu a:link:hover {
  opacity: 0.6;
}

.footer-menu:nth-child(2) {
  padding-top: 4rem;
  padding-right: 4rem;
}

.footer-menu:nth-child(2) a:link {
  display: inline-block;
  font-size: 1.5rem;
  padding-right: 1rem;
}


.bottom {
  background-color: #f2f2f2;
  padding: 3rem;
  text-align: center;
}

form {
  margin: 0 auto;
  max-width: 20rem;
}

.form-text {
  font-size: 65%;
  line-height: 1.5;
  max-width: 20rem;
  margin: 2rem auto;
}

.form {
  margin-top: 2rem;
  display: block;
  width: 100%;
  max-width: 100%;
}


.button-submit {
  background-color: #000;
  color: #fff;
  height: 4rem;
  font-size: 65%;
}

.button-submit:hover {
  background-color: #880c18;
}

input {
  border: none;
  background-color: transparent;
  width: 100%;
  font: inherit;
}

input:focus {
  outline: none;
}

.email-input {
  position: relative;
  height: 3rem;

}

.form-label {
  margin: 0;
  padding: 1rem 0;
  font-size: 40%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}

.form-input {
  border-bottom: solid 0.1rem #e6e5e5;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 75%;
}

/* MODAL */
#modal-container {
  position:fixed;
  display:table;
  height:100%;
  width:100%;
  top:0;
  left:0;
  transform:scale(0);
  z-index:10;
  &.note {
    transform:scale(1);
    .modal-background {
      background:rgba(0,0,0,.0);
      animation: fadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
      .modal {
        background-color:transparent;
        animation: modalFadeIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        h2,p {
          opacity:0;
          position:relative;
          animation: modalContentFadeIn .5s 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        }
        .modal-svg {
          rect {
            animation: sketchIn .5s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
          }
        }
      }
    }
    &.out {
      animation: slowFade 1.5s .5s linear forwards;
      .modal-background {
        animation: slowFade .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        .modal {
          animation: slowFade .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
          h2,p {
            animation: modalContentFadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
          }
          .modal-svg {
            rect {
              animation: sketchOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
            }
          }
        }
      }
    }
  }
  .modal-background {
    display:table-cell;
    background:rgba(0,0,0,.8);
    text-align:center;
    vertical-align:middle;
    .modal {
      opacity: 0.7;
      background:white;
      display:flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius:3px;
      font-weight:300;
      position: absolute;
      left: 20%;
      right: 20%;
      top: 20%;
      bottom: 20%;
      width: 60%;
      height: 60%;
      h2 {
        font-size:25px;
        line-height:35px;
        margin-bottom:15px;
        color: #000;
        letter-spacing: 0.1rem;

      }
      p {
        font-size:18px;
        line-height:35px;
        color: #000;
        letter-spacing: 0.1rem;


      }
      .modal-svg {
        position:absolute;
        top:0;
        left:0;
        height:100%;
        width:100%;
        border-radius:3px;
        rect {
          stroke: #fff;
          stroke-width: 7px;
          stroke-dasharray: 2000;
          stroke-dashoffset: 1780;
        }
      }
    }
  }
}


@keyframes fadeIn {
  0% {
    background:rgba(0,0,0,.0);
  }
  100% {
    background:rgba(250, 227, 220, 0.8);
  }
}

@keyframes fadeOut {
  0% {
    background:rgba(250, 227, 220, 0.8);
  }
  100% {
    background:rgba(0,0,0,.0);
  }
}

@keyframes sketchIn {
	0% {
		stroke-dashoffset: 1780;
	}
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes sketchOut {
	0% {
		stroke-dashoffset: 0;
	}
	100% {
		stroke-dashoffset: 1780;
	}
}

@keyframes modalFadeIn {
  0% {
    background-color:transparent;
  }
  100% {
    background-color:white;
  }
}

@keyframes modalFadeOut {
  0% {
    background-color:white;
  }
  100% {
    background-color:transparent;
  }
}

@keyframes modalContentFadeIn {
  0% {
    opacity:0;
    top:-20px;
  }
  100% {
    opacity:1;
    top:0;
  }
}

@keyframes modalContentFadeOut {
  0% {
    opacity:1;
    top:0px;
  }
  100% {
    opacity:0;
    top:-20px;
  }
}

@keyframes slowFade {
  0% {
    opacity:1;
  }
  99.9% {
    opacity:0;
    transform:scale(1);
  }
  100% {
    transform:scale(0);
  }
}

.small-nav {
  display: none;
}

@media (max-width: 600px) {
  .main-pic-big {
    background-position-x: 70%;
  }
  .small-nav {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.3rem;
  }

  .menu-hamburger {
    width: 1.7rem;
    height: auto;
  }

  .menu-hamburger .line {
    display: block;
    margin-top: 5px;
    height: 2px;
    background-color: #000;
  }

  .shopping-bag {
    width: 33.3%;
    text-align: right;
    line-height: 2rem;
    font-size: 1.2rem;
  }

  .grid-item {
    width: 50%;
  }
  .nav-left, .nav-right {
    display: none;
  }
  .logo {
    width: 1rem;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    top: -4%;
    left: 50%;
    margin-left: -2.5rem;
  }
  .header-bottom {
    background-color: #fff;
    height: 2.5rem;
    padding: 0;
  }
  #modal-container .modal-background .modal p {
    font-size: 12px;
    line-height: 28px;
  }
}

@media (max-width: 420px) {
  .logo {
    top: -2%;
  }
  #modal-container .modal-background .modal h2 {
    font-size: 17px;
  }
  #modal-container .modal-background .modal p {
    font-size: 8px;
    line-height: 16px;
  }
  .footer-menu:nth-child(2) {
    padding: 0;
  }
  .footer-menu:nth-child(2) a:link {
    display: block;
  }
  .main-pic-big:nth-of-type(1) {
    
    background-image: url('img-big-1.jpg');
  }
}



@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
    .main-pic-big {
        width: 100%;
    }
    .top-header {
      font-weight: normal;
    }
}}
